
ConsoleApp1/localVersion.txt
ConsoleApp1/bin/Debug/goConsoleApp1exe.bat
ConsoleApp1/obj/Debug/ConsoleApp1.pdb
ConsoleApp1/obj/Debug/ConsoleApp1.exe
ConsoleApp1/obj/Debug/ConsoleApp1.pdb
ConsoleApp1/obj/Debug/VersioningConsoleApp.csproj.FileListAbsolute.txt
.vs/ConsoleApp1/v15/Server/sqlite3/storage.ide-wal
.vs/ConsoleApp1/v15/Server/sqlite3/db.lock
.vs/ConsoleApp1/v15/Server/sqlite3/storage.ide
.vs/ConsoleApp1/v15/Server/sqlite3/storage.ide-shm
.vs/ConsoleApp1/v15/.suo
